body {
    width: 1880px;
    height: 960px;
    /* width: 1920px;
    height: 1080px; */
    display: grid;
    grid-template-columns: 100px 840px 840px 100px;
    gap: 0px;
}

header {
    width: 100px;
    height: 960px;
}

.logo {
    margin-top: 30px;
    text-align: center;
}

.menu {
    margin: 20px 0 0 10px;
    font-size: 85%;
}

.menu1 {
    margin-top: 40px;
    margin-left: 5px;
}

#main {
    width: 832px;
    height: 952px;
    gap: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 100%;
    grid-template-rows: 588px 1fr;
    grid-auto-rows: 100px;
    margin: 0;
    padding: 4px;
    background-color: #fffaf0;
}

.m1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.m2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}  
.m3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#sub {
    width: 840px;
    height: 960px;
    background-color: #f5f5f5;
}

.news {
    padding: 20px 0 0 20px;
    color: #cd853f;
    font-size: 70%;
}

.tile {
    display: flex;
}

.whats {
    margin: 20px 0px 0px 20px;
    font-size: 85%;
} 

.brewing {
    display: flex;
}

.t1 {
    width: 260px;
    height: 140px;
    margin: 10px;
    display: flex;
    background-color: white;
}

.t2 {
    margin: 10px;
}

.t3 {
    margin: 5px;
    font-size: 70%;
}

.pick {
    margin: 20px 0px 0px 20px;
    font-size: 85%;
}

.p1 {
    width: 180px;
    display: flex;
    margin: 10px;
    background-color: white;
}

.p2 {
    margin: 5px;
}

.p3 {
    margin: 5px;
    font-size: 70%;
}

.press {
    margin: 10px 0px 0px 20px;
    font-size: 85%;
}

footer {
    width: 100px;
    height: 960px;
}

.f1 {
    margin-top: 20px;
}